page-profil {
    /* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
    opacity: 0.8;
}



/* Login
==================================*/
.app-icon {
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.roma input::-webkit-input-placeholder {
  color: #ecf0f1 ;
}

.roma input:-moz-placeholder {
  color: #ecf0f1 ;
}
.roma input:-ms-input-placeholder { /* IE10+ */
  color: #ecf0f1 ;
}

/**
 * Button Bar
 * --------------------------------------------------
 * Aligner sur une ligne cote à cote et remplir l'espace
 */
 
.button-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%; }


.button-bar > .button {
  color: map-get($colors, light);
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  overflow: hidden;
  padding: 0 16px;
  width: 0;
  border-width: 1px 0px 1px 1px;
  border-radius: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap; }

  .button-bar > .button:before, .button-bar > .button .icon:before {
    line-height: 55px; }


      .bar .button-bar > .button, .bar .buttons > .button {
    
    min-height: 31px;
    line-height: 32px; }
  .bar .button-bar + .button, .bar .button + .button-bar {
    margin-left: 5px; }

  .register{
      background-color: map-get($colors, ownblue);
  }

  .forgot{
      background-color: map-get($colors, ownred);
  }
  .ink{
    background-color: map-get($colors, primary);
    color: map-get($colors, light);
  }

  .list ion-input{
    color: map-get($colors , light );
  }

}
