<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>Connexion</ion-title>
  </ion-navbar>
</ion-header>

    <ion-content class="roma" style="background: url(img/purple.jpg) center; background-size: cover;">

    <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

        <div class="hero flat">
            <div class="content">
                <div class="app-icon"></div>
                <h4>Se connecter</h4>
            </div>
        </div>

        <div class="list" padding>

            <ion-input #email placeholder="Email" formControlName="email" type="email" (change)="elementChanged(email)"
                [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
                <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
                    <p>Entrez un mail valide : XXXXXX@XXXX.XXX</p>
                </ion-item>

            <ion-input #password placeholder="Password" formControlName="password" type="password" (change)="elementChanged(password)"
            [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
            <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
            <p>6 caractères minimum requis pour le mot de passe</p>
            </ion-item>
        </div>

        <div class="padding">
            <button class="button button-full ink" type="submit">Go!</button>
            <p (click)="goToResetPassword()" text-center>J'ai oublié mon <strong>Mot de passe</strong> </p>
        </div>
        
    </form>


  <ion-fab bottom right edge>
    <button ion-fab mini><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
        <button ion-fab color="facebook" (click)="loginWithFacebook()">
            <ion-icon name="logo-facebook"></ion-icon>
        </button>
        <button ion-fab color="google" (click)="loginWithGoogle()">
            <ion-icon name="logo-googleplus"></ion-icon>
        </button>
    </ion-fab-list>
  </ion-fab>


</ion-content>

<ion-footer padding class="foot">
            <p (click)="goToSignup()" text-center>Je n'ai pas encore de compte, <strong>Je m'inscris</strong> </p>
</ion-footer>

