page-profil {
    .broker {


        .biggy{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 20%;
            background-color: map-get($colors, primary );
        }
        .biggy div{
            width: 100%;
        }

        img{
            width: 180px;
            height: 180px;
            border-radius: 50%;
            margin: auto;
            box-shadow: 1px 1px 10px rgba(44, 62, 80,0.5);
        }
            .big div{
            width: 50%;
            vertical-align: 50%;
            margin: auto;
        }
        .low .big{
            background-color: rgba(255, 255, 255,1.0);
            display: flex;
            height: 100%;
            align-items: stretch;
            flex-wrap: wrap;   

                    p{
                        color: map-get($colors , primary );
                    }         
        }

        .rotate90 {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

    }

}
