page-profil {
    .broker {
        color: rgba(236, 240, 241,1.0);

        .biggy{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding-top: 20%;
            align-items: stretch;
            background-color: rgba(26, 188, 156,1.0);
        }
        .biggy div{
            width: 100%;
        }
        .biggy:nth-child(2){
            flex: 1;
        }

        img{
            width: 180px;
            height: 180px;
            border-radius: 50%;
            margin: auto;
            border: 1px solid rgba(44, 62, 80,1.0);
            box-shadow: 1px 1px 10px rgba(44, 62, 80,1.0);
        }
            .big div{
            width: 50%;
            //border: 1px solid red;
            vertical-align: 50%;
            margin: auto;
        }
        .biggy .big{
            background-color: rgba(44, 62, 80,1.0);
            color: rgba(236, 240, 241,1.0);
           // background-color: rgba(241, 196, 15,1.0);
            display: flex;
            height: 100%;
            align-items: stretch;
            flex-wrap: wrap;            
        }


    }
}
