page-chat {
    .bubble{
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}

.bubble::before {
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform:             rotate( 29deg ) skew( -35deg );
  -moz-transform:    rotate( 29deg ) skew( -35deg );
  -ms-transform:     rotate( 29deg ) skew( -35deg );
  -o-transform:      rotate( 29deg ) skew( -35deg );
  -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;
}

.me {
  background-color: map-get($colors , light );
  float: left;
  margin: 5px 45px 5px 20px;
  color: map-get($colors , primary );
  border: 1px solid map-get($colors , primary );
    -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 2s;

}

.me:hover{
  background-color: map-get($colors , primary );
  color: map-get($colors , light );
}

.me::before {
  background-color: map-get($colors , primary );
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
  border: 1px solid map-get($colors , primary );
  z-index: -1;
}

.you {
  background-color: map-get($colors , light );
  float: right;
  margin: 5px 20px 5px 45px;
  color: map-get($colors , danger );
    border: 1px solid map-get($colors , danger );
    -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 2s;
}

.you::before {
  background-color: map-get($colors , danger );
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
  right: -9px;
  z-index: -1;
}

.you:hover{
  background-color: map-get($colors , danger );
  color: map-get($colors , light );
}

.chatPageFooter {
  .toolbar-background {
    background: map-get($colors, background-color);
  }
  textarea{
      width: 100%;
      border-radius: 2%;
  }

  button{
      height: 48px;
      width: 48px;
      border-radius: 50%;
  }
  .bas{
      display: flex;
      flex-direction: row;
  }
}

}
