<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Menu
      <ion-icon name="log-out" item-right (click)="logOut()" *ngIf="checkDec"></ion-icon>
      </ion-title>
              
    </ion-toolbar>
  </ion-header>
  <ion-content style="background: url(img/p3.jpg) center; background-size: cover;">
    <ion-list class="menu">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>