page-reset-password {
  form {
    margin-bottom: 32px;

    button {
      margin-top: 20px;
    }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

    /* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
    opacity: 0.8;
}



/* Login
==================================*/
.app-icon {
    background: url('http://placehold.it/350x150?text=Votre+logo') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

    .ink{
    border: 1px solid rgba(255, 255, 255,0.3);
    color: map-get($colors , light );
    background: transparent;
    box-shadow: 1px 1px 5px rgba(255, 255, 255,0.1);
        -webkit-transition: background 1s;
    transition: background 1s;
  }
    .ink:hover{
    background: rgba(255, 255, 255,0.3);
  }

  .list ion-input{
    padding-left: 20px;
    margin-bottom: 10px;
    -webkit-transition: border-bottom 1s;
    transition: border-bottom 1s;
    -webkit-transition: padding 1s;
    transition: padding 1s;
    color: map-get($colors , light );
    background-color: rgba(255, 255, 255,0.2);
  }

  p{
    font-size: 15px;
    color: map-get($colors , light );
  }
  .error-message{

  }

  ion-input:hover, ion-label:focus{
    padding: 12px;
  }
    .list input::-webkit-input-placeholder {
    color: #ecf0f1 ;
  }

  .list input:-moz-placeholder {
    color: #ecf0f1 ;
  }
  .list input:-ms-input-placeholder { /* IE10+ */
    color: #ecf0f1 ;
  }
}

